@media (max-width: 46.1875em) {
    .dashboard {
        padding: 16px;
        min-height: 239px;
        max-height: 348px;
    }
    .cd {
        max-width: 120px;
    }
    .playlist {
        margin-top: 322px;
    }
    .song .title {
        font-size: 14px;
    }
    #modal {
        width: 100%;
        padding: 0 16px;
    }
    #modal .song-details .input-box {
        width: calc(80% - 20px);
    }
    #modal .confirm button {
        width: 42%;
    }
    .container {
        width: 100%;
    }
}